# The region into which your project will be deployed.
AWS_REGION={REGION}

# Set secrets provider.
# See https://www.pulumi.com/docs/intro/concepts/secrets/#changing-the-secrets-provider-for-a-stack.
PULUMI_SECRETS_PROVIDER={PULUMI_SECRETS_PROVIDER}

# Used with "passphrase" secrets provider.
# See https://www.pulumi.com/docs/reference/cli/environment-variables/.
PULUMI_CONFIG_PASSPHRASE={PULUMI_CONFIG_PASSPHRASE}

# Enable debugging mode.
DEBUG=true

# Application
SELLING_PARTNER_APP_CLIENT_ID={SELLING_PARTNER_APP_CLIENT_ID}
SELLING_PARTNER_APP_CLIENT_SECRET={SELLING_PARTNER_APP_CLIENT_SECRET}
SELLING_PARTNER_AWS_ACCESS_KEY_ID={SELLING_PARTNER_AWS_ACCESS_KEY_ID}
SELLING_PARTNER_AWS_SECRET_ACCESS_KEY={SELLING_PARTNER_AWS_SECRET_ACCESS_KEY}
AWS_SELLING_PARTNER_ROLE={AWS_SELLING_PARTNER_ROLE}
AMZ_API_REFRESH_TOKEN={AMZ_API_REFRESH_TOKEN}